services: 
  redis:
    image: redis:latest
    container_name: redis
    volumes:
      - redis_data:/data
    restart: always
    networks: 
      - pg_network
  postgres-master:
    image: livingdocs/postgres:15.0
    build:
      context: ./pg_master
      dockerfile: Dockerfile
    container_name: postgres-master
    # env_file:
    #   - ./.env
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: admin
    volumes:
      - pg_master_data:/var/lib/postgresql/data
    networks:
      - pg_network
  postgres-standby:
    image: postgres:16-alpine
    build:
      context: ./pg_standby
      dockerfile: Dockerfile
    container_name: postgres-standby
    env_file:
      - ./.env
    # environment:
    #   PG_MASTER_HOST: postgres-master
    #   PG_MASTER_PORT: 5432
    #   PG_REPLICATION_USER: ${REPLICATION_USER}
    #   PG_REPLICATION_PASSWORD: ${REPLICATION_PASSWORD}
    depends_on:
      - postgres-master
    volumes:
      - pg_standby_data:/var/lib/postgresql/data
    networks:
      - pg_network
    

networks:
  pg_network:
    external: true

volumes:
  redis_data:
  pg_master_data:
  pg_standby_data: