version: '3'
services:
  postgres:
    image: postgres:16
    container_name: postgres-demo
    restart: always
    environment:
      POSTGRES_USER: exporter
      POSTGRES_PASSWORD: exporterpass
      POSTGRES_DB: company
    networks:
      - lifehub_v2
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - .db/init.sql:/docker-entrypoint-initdb.d/init.sql
    
  postgres_exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres_exporter
    restart: always
    environment:
      DATA_SOURCE_NAME: "postgresql://exporter:exporterpass@postgres:5432/company?sslmode=disable"
    networks:
      - lifehub_v2
    ports:
      - "9187:9187"
    depends_on:
      - postgres

  nginx:
    image: nginx:latest
    networks:
      - lifehub_v2
    # build: 
    #   context: ./reverse-proxy
    #   dockerfile: Dockerfile
    # container_name: nginx_c_v2
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
    container_name: nginx_c_v2
    # depends_on:
    #   - go
    ports:
      - "80:80"
      
  django: 
    image: python:3.12-slim
    networks:
      - lifehub_v2
    build: 
      context: ./django
      dockerfile: Dockerfile
    container_name: django_c_v2
    

  react:
    image: node:22-alpine
    networks:
      - lifehub_v2
    build: 
      context: ./react/app
      dockerfile: Dockerfile
    container_name: react_c_v2
    ports:
      - "5173:5173"

  # go:
  #   image: golang:1.22-alpine
  #   networks:
  #     - lifehub_v2
  #   build: 
  #     context: ./go
  #     dockerfile: Dockerfile
  #   container_name: go_c_v2
   
  nodejs:
    image: node:20-alpine
    networks:
      - lifehub_v2
    build: 
      context: ./nodejs
      dockerfile: Dockerfile
    container_name: nodejs_c_v2
 
  # ruby:
  #   image: ruby:3.2-alpine
  #   networks:
  #     - lifehub_v2
  #   build: 
  #     context: ./ruby/app
  #     dockerfile: Dockerfile
  #   container_name: ruby_c_v2
  #   environment:
  #     - SECRET_KEY_BASE=${RUBY_KEY}
    
  # tomcat10:
  #   image: tomcat:10.1.18-jdk17-temurin-alpine
  #   networks:
  #     - lifehub_v2
  #   restart: always
  #   build: 
  #     context: ./tomcat10
  #     dockerfile: Dockerfile
  #   container_name: tomcat10_c_v2

networks:
  lifehub_v2:
    driver: bridge

volumes:
  pg_data: